body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #AAD7D9;
}

#calculator {
    text-align: center;
    width: 300px;
}

#display {
    width: 200px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #C7C8CC;
}
